target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# ignore any compiled files
*.class
*.jar
*.war
 
# ignore IDE generated project files (Eclipse, IntelliJ IDEA)
 
# Eclipse
.settings/
.project
.classpath

# ignore OS X finder files
.DS_Store
 
# ignore Windows thumbnail cache
Thumbs.db
 
# ignore private keys used with PKI
*.ppk
 
# ignore backup file
*.bak

 
# ignore windows temp files
~$*